/* Aplicando Sass en Index */

@import "estructura/general";
@import "componentes/cardProductos";


/* Shop */

.navegacionLateral{
    width: 20%;
}

.filtros p{
    margin: 0px;
}

.filtros{
    margin-left: 60px;
}

.filtros h3{
    font-size: 1.8em;
}

.filtros__menu, .filtros__menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.filtros__menu li{
    font-size: 1.2em;
}

.filtros__menu ul li{
    padding-left: 20px;
    font-size: 1em;
}

/* Recetas */

.receta__card{
    background-color: #F9EED3;
    padding: 30px 30px 40px 30px;
}

.receta___titulo h2{
    font-size: 1.8em;
}

.receta__centro{
    width: 100%;
}

.receta__centro--foto{
    width: 50%;
}

.receta__centro--foto img{
    width: 100%;
    overflow: hidden;
}

.receta__centro--ingredientes{
    width: 50%;
    padding-left: 40px;
}

.receta__centro--ingredientes h4, .receta__pasoapaso h4{
    font-size: 1.5em;
}

.receta__centro--listaIngredientes ul{
    list-style: none;
    font-size: 1.2em;
}

.receta__centro, .receta__centro--listaIngredientes{
    display: flex;
    flex-direction: row;
}

.receta__centro--listaIngredientes{
    width: 100%;
    justify-content: space-between;
}

.receta__centro--listaIngredientes ul{
    width: 50%;
    padding: 0px;
    margin: 0px;
}

/* Deco */

.decoraciones{
    width: 44%;
    background-color: #F9EED3;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-content: center;
}

.decoraciones__sliderFotos{
    overflow: hidden;
    height: 200px;
}

.decoraciones__sliderFotos img{
    object-fit: none;
    object-position: center top;
}

.decoraciones h2{
    margin: 0px 0px 20px 0px;
}

.decoraciones a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}

/* Pagina de Ambientacion en Particular */

.ambientaciones__sliderFotos{
    background-image: url("/deco/tematicas/harrypotter01.jpeg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.ambientaciones h2{
    font-size: 1.8em;
    margin-left: 100px;
}

.ambientaciones__texto{
    padding: 50px 100px 0px 100px;
}


/* Sobre Mi */

.aboutme__foto{
    width: 495px;
    height: 681px;
}

@media screen and (max-width: 576px) {

    #navegacion{
        align-items: flex-end;
        margin: 10px 0px 30px 0px;
        justify-content: space-between;
    }

    .banners{
        background-image: url("/images/banner01-mobile.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banners2{
        background-image: url("/images/banner02-mobile.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #productosDestacados, .cuerpo{
        display: none;
    }

    .carousel-item{
        width: auto !important;
        margin-right: -50% !important;
    }

    .navegacionLateral{
        display: none;
    }

    .navegacionMobile{
        margin: 40px 0px 0px 0px;
    }
}

@media screen and (min-width: 576px) {

    #navegacion{
        justify-content: space-between;
        align-items: flex-end;
        margin: 10px 0px 30px 0px;
    }

    .banners{
        background-image: url("/images/banner01.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banners2{
        background-image: url("/images/banner02.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #carouselExampleDark{
        display: none;
    }

    /* Estructura general del resto de las paginas */

    #shop, #recetas, #deco, #aboutme{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }

    .cuerpo{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 80%;
        padding-right: 30px;
    }

    .navegacionMobile{
        display: none;
    }
}