/* Estructura General */

@import "general/variables";

body{
    font-family: 'Indie Flower', cursive !important;
}

#grilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
}

/* Header */

header{
    background-color: white;
}

.categorias{
    display: inline-block;
}

.categorias__menu{
    display: inline-block;
    padding: 0px;
    margin: 0px;

    li{
        margin-right: 80px;
        display: inline-block;
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.3em;
        margin: 0px;
        transition: all 1s;

        &:hover{
            transform: scale(1);
            color: #fe98a7;
            background-color: #F9EED3;
            padding: 5px;
            border-radius: 15px;
        }
    }
}

.iconos{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.iconos__tienda{
    padding: 0px;
    margin: 0px;
    display: inline-block;

    li{
        display: inline-block;
        margin: 20px;
    }
}

.busqueda{
    margin-right: 50px;
    border: 2px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-block;

    input{
        font-family: 'Indie Flower', cursive;
        height: 25px;
        text-align: left;
        background-color: transparent;
        border: none;
        margin-left: 4px;
    }
}

.busqueda--submit{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.navbar-collapse{
    justify-content: flex-end;
}

#navegacion{
    align-items: flex-end;
    margin: 10px 0px 30px 0px;
    justify-content: space-between;
}

/* Section Productos Destacados - Index */

#productosDestacados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

    h2{
        font-size: 1.8em;
    }
}

.contacto--enviar{
    font-size: 1.2em;
    font-family: 'Indie Flower', cursive;
    background-color: #fe98a7;
    border: none;
    border-radius: 10px;
    margin: 5px 10px;
}


 /* Division de secciones - Index */

 .division{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px 60px 0px;
    
    div{
        height: 5px;
        width: 50%;
        background-color: #2B5970;
    }
}

/* Formulario de Contacto - Index */

#contacto{
    margin: 0px;
    background-color: #F9EED3;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px;
}

.formularioContacto{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "contacto ."
        "nombre ."
        "nombreInput nombreInput"
        "email ."
        "emailInput emailInput"
        "mensaje ."
        "mensajeArea mensajeArea"
        ". enviar";
    padding: 20px 50px 10px 50px;

    h2{
        font-size: 1.8em;
        grid-area: contacto;
    }

    label{
        font-size: 1.3em;
    }
}

.nombre{
    grid-area: nombre;
}

.nombreInput{
    grid-area: nombreInput;
}

.email{
    grid-area: email;
}

.emailInput{
    grid-area: emailInput;
}

.mensaje{
    grid-area: mensaje;
}

.mensajeArea{
    grid-area: mensajeArea;
}

#contacto input, #contacto textarea{
    margin: 10px 0px;
    border: 2px solid #fe98a7;
    border-radius: 15px;
}

.contacto--enviar{
    grid-area: enviar;
}

/* Footer */

#footer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#footer__minombre{
    padding-left: 30px;
}

#footer__redes{
    padding-right: 30px;
}

@media screen and (max-width: 576px) {

    .banners{
        background-image: url("/images/banner01-mobile.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banners2{
        background-image: url("/images/banner02-mobile.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #productosDestacados, .cuerpo{
        display: none;
    }

    .cuerpoDeco{
        display: flex;
        flex-flow: column;
        width: 100%;
        align-items: center;
        margin: 0px;
    }

    .decoraciones{
        width: 100%;
    }

    .carousel-item{
        width: auto !important;
        margin-right: -50% !important;
    }

    .navegacionLateral{
        display: none;
    }

    .navegacionMobile{
        margin: 40px 0px 0px 0px;
    }
}

@media screen and (min-width: 576px) {
    .banners{
        background-image: url("/images/banner01.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banners2{
        background-image: url("/images/banner02.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #carouselExampleDark{
        display: none;
    }

    /* Estructura general del resto de las paginas */

    #shop, #recetas, #deco, #aboutme{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }

    .cuerpo, .cuerpoRecetas, .cuerpoDeco{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 80%;
        padding-right: 30px;
    }

    .navegacionMobile{
        display: none;
    }
}