/* Sobre Mi */

@media screen and (max-width: 799px){

    #aboutme{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 60px;
    }

    .aboutme__encabezado{
        padding-left: 30px;
    }
    
    .aboutme__foto{
        width: 495px;
        height: 681px;
    }
    
    .aboutme__contenido{
        p{
            padding: 2rem 10px 0px 30px;
        }
    }


}

@media screen and (min-width: 800px){
    #aboutme{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 60px;
    }

    .aboutme__encabezado{
        padding-left: 20px;
        width: 60%;
    }
    
    .aboutme__foto{
        width: 495px;
        height: 681px;
    }
    
    .aboutme__contenido{
        width: 40%;

        p{
            padding: 2rem 5px 0px 10px;
        }
    }
}