@import "general/variables";

.navegacionLateral{
    width: 20%;
}

.filtros{
    margin-left: 60px;

    p{
        margin: 0px;
    }

    h3{
        font-size: 1.8em;
    }
}

.filtros__menu{
    list-style: map-get($formatoListas,style);
    padding:  map-get($formatoListas,padding);
    margin: map-get($formatoListas,margin);

    ul{
        list-style: map-get($formatoListas,style);
        padding: map-get($formatoListas,padding);;
        margin: map-get($formatoListas,margin);

        li{
            padding-left: 20px;
            font-size: map-get($formatoListas,fuente);
        }
    }

    li{
        font-size: map-get($formatoListas,fuente);
    }
}